<a href="https://colab.research.google.com/github/Likhithaguggilla805/jntua-python/blob/master/DAY10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS
- While loop
- For loop

In [6]:
# print numbers from 1 to n
n = int(input("enter a numer"))
i = 1
while i<=n:
  print(i)
  i = i+1

enter a numer10
1
2
3
4
5
6
7
8
9
10

In [7]:
# print numbers from 1 to n
n = int(input("enter a number"))
i = 1
while i<=n:
  print(i,end = "  ")
  i=i+1

enter a number12
1  2  3  4  5  6  7  8  9  10  11  12

In [23]:
# sum of even numbers
n = int(input("enter a number"))
i=0
sum=0
while i<=n:
      sum=sum+i
      i=i+2
print(sum)

enter a number10
30

In [31]:
# palindrome
n = int(input("enter a number"))
rem=0
num=0
while n>0:
     rem=n%10
     num=num*10+rem
     n=n//10
print(num)

enter a number123
321

# FUNCTIONAL PROGRAMMING
- Simple
- easy to understand
- better reuseability
- lengthy program will be divided into subprograms

In [46]:

# print sum of even digits
# input:1234
# output (2+4=6)
def sumofevendigits(n):
    s=0
    while n!=0:
      r=n%10
      if r%2==0:
         s=s+r
      n=n//10
    return s
sumofevendigits(1234568)

20

In [50]:
def largestdigit(n):
    prev=0
    new=0
    while n!=0:
      prev=new
      new=n%10
      if prev>new:
        new=prev
      n=n//10
    return new
largestdigit(19354)

9

# for loop
# syntax:
# for in range(start,stop,step):
#        statements

In [0]:
# syntax:
for in range(start,stop,step):

In [51]:
# print the numbers between limits
#input :11 25
#output :11,12,13,14,15,16......24,25
def printseries(fn,ln):
  for i in range(fn,ln+1):
    print(i,end=" ")
  return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [62]:
def printseries(fn,ln):
    for i in range(fn,ln+1,4):
        print(i,end=" ")
    return
printseries(500,520)

500 504 508 512 516 520

# COLLECTION TYPES
- list
- tuple
- dictionary

# LIST
- one of the data structure in python
- Data structure means to store,sort and search options
- It's one column data structure in python,the items of list separated by comma and enclosed by square brackets
- list was IMMUTABLE(i.e,values can change) or in list we can change values
- ex:
- list1=[1,2,3,4,5]
- list=["JNTUA","DASD","asds"]

In [80]:
li = [1,2,3,4,5]
print(li)
print(li[2])
print(li[-4])
print(li[2:])
print(li[-4:])
print(li[2:4])
print(li[-4:-1])
print(li[::4])
print(li[::-3])

[1, 2, 3, 4, 5]
3
2
[3, 4, 5]
[2, 3, 4, 5]
[3, 4]
[2, 3, 4]
[1, 5]
[5, 2]

In [84]:
# update list
li = ["JNTUA",8,"ANTPR",5,4]
print(li)
li[1]="154"
print(li)
# delete list item
del li[3]
print(li)
del li[2]
print(li)

['JNTUA', 8, 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 4]
['JNTUA', '154', 4]

In [88]:
# Basic list operations
li=[1,2,3,4,5,6]
print(len(li))
print(li*2)
print(4 in li)
print(7 in li)

6
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
True
False

# list functions
- max
- min
- sum
- append
- insert
- count
- index
- sort
- pop

In [90]:
li = [1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))

5
1

TypeError: ignored