<a href="https://colab.research.google.com/github/Likhithaguggilla805/jntua-python/blob/master/DAY9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## markdown
### Markdown
#### Markdown

**Points**

*Points*

***Points***

In [1]:
print("hello , jntua")
print("hello, jntua",)

hello , jntua

# Assignment

In [6]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# Data types and conversions
* int
* float
* string

In [7]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [9]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [11]:
# length
a = 12345
s1 = str(a)
print(len(s1))

5

Reading input from user using---input function

In [13]:
a = input("enter your name:")
print(a)
print(type(a))

enter your name:LIKHITHA
LIKHITHA
<class 'str'>

In [14]:
B = int(input("enter your age:"))
print(B)
print(type(B))

enter your age:19
19
<class 'int'>

# Operators
- Operator is a symbol used to perform a specific kind of operations

# Arthimetic operators
- +
- -
- *
- /
- %
- //
- ** (it means power of )

In [17]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operator
- =
- ==
- !=
- <
- >
- <=
- >=

In [18]:
x = 10
a1 = x > 15
print(a1)

False

# Logical operators
- and
- or
- not

In [21]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>50) or (i >800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

# Control flow statements
- conditional statements
- looping statements

# if else statement
## syntax
# if boolean_condition:
# statements
# else:
# statements

In [24]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2==0:
  print(n,"is even")
else:
  print(n,"is odd")

enter a number24
24 is even

In [28]:
# to check given number is perfect multiples of 3 and 5
n = int(input("enter a number"))
if n%3==0 and n%5==0:
  print(n,"is perfect multiple of 3 and 5")
else:
  print(n,"is not perfect multiple of 3 and 5")

enter a number24
24 is not perfect multiple of 3 and 5

In [29]:
# to check given number is positive ornegative or 0
n = int(input("enter a number"))
if n>0:
  print(n,"is positive")
elif n<0:
  print(n,"is negative")
else:
  print(n,"is zero")

enter a number5
5 is positive

In [31]:
# to check largest of 3 numbers
a1 = int(input("enter 1st numbers"))
a2 = int(input("enter 2nd number"))
a3 = int(input("enter 3rd number"))
if a1>a2 and a1>a3:
  print(a1,"is largest")
elif a2>a3:
  print(a2,"is largest")
else:
  print(a3,"is largest2")

enter 1st numbers6
enter 2nd number8
enter 3rd number2
8 is largest

In [35]:
# to find leap year
n = int(input("enter year:"))
if n%4 == 0 and n%100 !=0:
  print(n,"is leap year")
else:
  print(n,"is not leap year")

enter year:2000
2000 is not leap year